.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  position: relative;
  top: 5vh;
  right: 0;
  bottom: 2%;
  left: 9vw;
}

.game-board-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  position: relative;
  top: 19vh;
  right: 0%;
  bottom: 0;
  left: 10.5vw;
}

.game-button {
  width: 15%;
  height: 60px;
  border-radius: 100%;
  border: 10px solid black;
}

.final-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20vh;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.final-game-button {
  width: 30%;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
}

.game-button:hover {
  transform: scale(1.1);
}
