.homepage {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin-top: 5vh;
  color: #03045e;
}

.homepageTitle {
  font-size: 5.5em;
  text-shadow: 4px 8px rgb(200, 200, 200);
  letter-spacing: 2px;
}

.homepageText {
  font-size: 2rem;
  text-shadow: 2px 4px rgb(200, 200, 200);
}

.gameIconContainer {
  width: 100%;
  margin-top: 8vh;
}
